In [6]:
# import dependencies
from config import password
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# create engine
engineString = f"postgresql://postgres:{password}@localhost:5432/EmployeeSQL"

engine = create_engine(engineString)
connection = engine.connect()

In [5]:
# import db tables to dataframes
employees = pd.read_sql("SELECT * FROM employees", connection)
titles = pd.read_sql("SELECT * FROM titles", connection)
departments = pd.read_sql("SELECT * FROM departments", connection)
salaries = pd.read_sql("SELECT * FROM salaries", connection)
dept_emp = pd.read_sql("SELECT * FROM dept_emp", connection)
dept_manager = pd.read_sql("SELECT * FROM dept_manager", connection)

titles.head()

  title_id               title
0    s0001               Staff
1    s0002        Senior Staff
2    e0001  Assistant Engineer
3    e0002            Engineer
4    e0003     Senior Engineer